
.buttons{

        list-style-type: none;


        align-self: center;
        padding-left: 20px;

        font-size: large;
    white-space: nowrap;

        width: 100%;

        color: black;
        text-decoration: none;




    align-items: center;
    justify-content: center;


    }




.buttons:hover {

    color: black;
    background-color: white;

}
